/*
    Document   : styles-responsive.css
    Created on : 08/12/2015, 09:01:15 PM
    Author     : cesarmejia
    Description:
*/

@media (max-width: 767px) {

    /* Body */
    body.mobile-navigation-open {
        overflow: hidden;
    }


    /* Mobile Navigation */
    .mobile-navigation {
        background-color: #f1f1f1;
        height: 100%;
        overflow-y: scroll;
        position: fixed;
        right: -250px;
        top: 0;
        width: 250px;
        z-index: 2;

        -webkit-transition: right 350ms;
        -moz-transition: right 350ms;
        -ms-transition: right 350ms;
        -o-transition: right 350ms;
        transition: right 350ms;
    }

    .mobile-navigation.mobile-navigation-open {
        right: 0;
    }

    /* Mobile Navigation - Logo */
    .mobile-navigation .logo {
        display: block;
        padding: 10px 5px;
    }

    .mobile-navigation .logo img {
        margin: 0 auto;
        max-width: 85px;
    }

    /* Mobile Navigation - List */
    .mobile-navigation .list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .mobile-navigation .list li {  }

    .mobile-navigation .list a {
        color: #666;
        display: block;
        padding: 25px 5px;
        position: relative;
        text-decoration: none;
    }

    .mobile-navigation .list a:after {
        border-bottom: 1px solid #d8d8d8;
        border-top: 1px solid #fff;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
    }


    /* Navigation */
    .navigation {
        -webkit-transition: right 350ms;
        -moz-transition: right 350ms;
        -ms-transition: right 350ms;
        -o-transition: right 350ms;
        transition: right 350ms;
    }

    .navigation.mobile-navigation-open {
        right: 250px;
    }


    /* Outer wrapper */
    .outer-wrapper {
        right: 0;

        -webkit-transition: right 350ms;
        -moz-transition: right 350ms;
        -ms-transition: right 350ms;
        -o-transition: right 350ms;
        transition: right 350ms;
    }

    .outer-wrapper.mobile-navigation-open {
        right: 250px;
    }

}