/*
    Document   : styles.css
    Created on : 08/12/2015, 09:01:15 PM
    Author     : cesarmejia
    Description:
*/

/* Load Fonts */


/* Util */
body {
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.holder{
    margin: 0 auto;
    max-width: 1010px;
    width: 100%;
}


/* Navigation */
.navigation{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation .navigation-toggle{
    border: none;
    float: right;
    padding: 10px;
    width: 50px;
}

.navigation .navigation-toggle .bar{
    background-color: #333;
    display: block;
    height: 3px;
    margin-bottom: 3px;
    width: 100%;
}

.navigation .navigation-toggle .bar:last-child{
    margin-bottom: 0;
}


/* Outer wrapper */
.outer-wrapper{
    position: relative;
}